# Generated build files
/dist/**
/.quasar/**

# Dependencies
/node_modules/**

# Generated types
*.d.ts
src/types/supabase.generated.ts
src/types/supabase.ts

# Generated configuration files
/quasar.config.js

# Temporary and cache files
.eslintcache
lint.json
*.out
/tmp/**
