# Generated build files
/dist/**
/.quasar/**

# Dependencies
/node_modules/**

# Generated types
*.d.ts
src/types/supabase.ts

# Test files
/test/**
/test-results/**
vitest.config.ts

# Generated configuration files
/quasar.config.js

# Temporary and cache files
.eslintcache 